body {
    background-color: #ffffff;
    color: #000000;
    overflow: auto;
    margin: 0 padding-top: 4.5rem;
}

.tabtytul {
    /* tabelka z grafiką (nagłówek) */
    background-color: #fff;
    border-bottom: 10px solid #fff
}

.tytul {
    /* komórka z tytułem */
    color: #ee3733;
}

.tytulnapis {
    /* tytuł strony z cieniem (tylko IE) */
    padding-left: 10px;
    width: 400px;
    height: 60px;
    filter: Shadow(Color=#666666, Direction=150)
}

.tabela {
    /* tabela z planem */
    border-color: #c0c0c0
}

.dropdown-menu a {
    color: #212529;
}

td {
    font-size: 16px color: #;
}

th {
    text-align: center;
    background-color: #ccc;
    color: #000;
    font-size: 13px
}

td.g {
    /* godzina */
    text-align: center;
    background-color: #ddd;
    color: #000;
    font-weight: bold;
    vertical-align: top;
    text-align: center;
    white-space: nowrap
}

td.nr {
    /* numer lekcji */
    text-align: center;
    background-color: #ccc;
    color: #000;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

td.l {
    /* lekcja */
    background-color: #ffffff;
    color: #000000;
    vertical-align: top
}

a {
    color: #ee3733;
}

a.n {
    /* nauczyciel */
    color: #777
}

a.s {
    /* sala */
    color: #777
}

a.k {
    /* klasa */
    color: #777
}

.p {
    /* przedmiot */
    color: #;
    font-weight: bold
}

@media print {
    .tabtytul {
        /* nagłówek do druku */
        display: none
    }
}

#link {
    color: #ee3733;
}
}